*.iml
*.idea
*.vscode
*.swp
*.DS_Store

**.secret**

__pycache__/
*.py[cod]
*$py.class

MAINFEST
*.egg
*.egg-info

.pytest_cache/
coverage.xml
.coverage
.coverage.*
.pytest_cachecoverage.xml

.python-version
.env
.venv
venv/
