[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
pyyaml = "*"
dacite = "*"

[dev-packages]
pytest ="*"
pytest-cov = "*"
pytest-watch = "*"
pytest-mock = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
